.process-panel {
    position: fixed;
    top: 0px;
    z-index: 1000;
    background: #DBE8EB;
    border: 1px solid #aaa;
    border-top: none;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;    
}

.process-panel-inner {
    padding-bottom: 10px;
}

.process-panel-head {
    padding: 2px 10px;
    border-bottom: 1px solid #ccc;
}

.process-panel-body {
    max-height: 70px;
    overflow: auto;
    padding: 10px;
}

.process-panel-undo {
    max-height: 50px;
    overflow: auto;
    padding: 10px;
}