.extend-data-preview-dialog .suggested-property-container {
    border: 1px solid #aaa;
    padding: 5px;
    overflow: auto;
    height: 400px;
}

.extend-data-preview-dialog .suggested-property {
    padding: 5px;
}

.extend-data-preview-dialog input.property-suggest {
    display: block;
    padding: 2%;
    width: 96%;
}

.extend-data-preview-dialog .preview-container {
    border: 1px solid #aaa;
    overflow: auto;
}

.extend-data-preview-dialog .preview-container table {
    border-collapse: collapse;
}

.extend-data-preview-dialog .preview-container td, .extend-data-preview-dialog .preview-container th {
    padding: 3px 5px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.extend-data-preview-dialog .preview-container th img {
    vertical-align: top;
    margin-left: 5px;
}