table.facet-based-edit-dialog-main-layout {
    border-collapse: collapse;
}
table.facet-based-edit-dialog-main-layout > tbody > tr > td {
    padding: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
}
table.facet-based-edit-dialog-main-layout > tbody > tr > td:last-child {
    padding-right: 0px;
}
table.facet-based-edit-dialog-main-layout > tbody > tr:last-child > td {
    padding-bottom: 0px;
}

.facet-based-edit-dialog-table-container {
    height: 500px;
    overflow: auto;
    border: 1px solid #aaa;
}

table.facet-based-edit-dialog-entry-table {
    border-collapse: collapse;
    width: 100%;
}

table.facet-based-edit-dialog-entry-table > tbody > tr.header {
    background: #ccc;
    font-weight: bold;
}

table.facet-based-edit-dialog-entry-table > tbody > tr > td {
    padding: 2px 5px;
}

table.facet-based-edit-dialog-entry-table > tbody > tr.odd > td {
    background: #eee;
}

table.facet-based-edit-dialog-entry-table > tbody > tr.even > td {
    background: white;
}

table.facet-based-edit-dialog-entry-table input {
    border: 1px solid #ccc;
    padding: 0 0.1em;
}

table.facet-based-edit-dialog-entry-table a {
	text-decoration: none;
}

table.facet-based-edit-dialog-entry-table a:hover {
	text-decoration: underline
}

.facet-based-edit-dialog-entry-count {
    color: #aaa;
    margin-left: 0.5em;
}

.facet-based-edit-dialog-controls {
    margin-bottom: 0.5em;
}

.facet-based-edit-dialog-controls td {
    padding-right: 0.5em;
}


.facet-based-edit-dialog-facet {
    margin-bottom: 1em;
}
.facet-based-edit-dialog-facet-header {
    font-weight: bold;
}
.facet-based-edit-dialog-facet-histogram {
    margin: 10px 8px 5px 8px;
    height: 52px;
}
.facet-based-edit-dialog-facet-slider {
    margin: 5px;
}
.facet-based-edit-dialog-facet-selection {
    text-align: center;
    color: #888;
}