.recon-dialog-type-id {
    color: #888;
}

.recon-dialog-heuristic-types-container {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 200px;
    overflow: auto;
}
.recon-dialog-heuristic-other-type-container {
    margin: 10px;
}

.recon-dialog-heuristic-details-container {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 300px;
    overflow: auto;
}

