.scatterplot-dialog-table-container {
    height: 500px;
    overflow: auto;
    border: 1px solid #aaa;
}

.clustering-dialog-controls {
    margin-right: 2em;
}

table.scatterplot-matrix-table {
    border-collapse: collapse;
}

table.scatterplot-matrix-table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

table.scatterplot-matrix-table td.current_column {
    font-weight: bold;
    font-size: 105%;
}

table.scatterplot-matrix-table div.current_column {
    background-color: #fbede3;
}

table.scatterplot-matrix-table .column_header {
    text-align: right;
    padding: 0em 0.5em;
}

table.scatterplot-matrix-table .scatterplot img {
    border: 1px solid #eee;
}

table.scatterplot-matrix-table .scatterplot img.hover {
    background-color: #eeffee;
}
