.scatterplot-dialog-table-container {
    height: 500px;
    overflow: auto;
    border: 1px solid #aaa;
}

.clustering-dialog-controls {
	margin-right: 2em;
}
	
table.scatterplot-matrix-table {
    border-collapse: collapse;
}

table.scatterplot-matrix-table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

table.scatterplot-matrix-table img.scatterplot {
	border: 1px solid #eee;
}
