.history-panel-help {
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.history-panel-help h1 {
    margin-top: 0px;
    font-size: 150%;
    font-weight: bold;
    color: #888;
}

.history-panel-body {
    background: #fff;
    overflow: auto;
}

.history-panel-message {
    text-align: center;
    color: #aaa;
}

.history-past {
    padding-bottom: 3px;
}
.history-now {
    padding: 3px 0;
    background: #a9e9fb;
    color: white;
    font-size: 80%;
    text-transform: uppercase;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
}
.history-future {
    padding-top: 3px;
    padding-bottom: 3px;
}
a.history-entry {
    display: block;
    padding: 7px 5px;
    text-decoration: none;
    color: black;
    border-top: 1px solid #ddd;
}
a.history-entry:first-child {
    border-top: none;
}
a.history-entry:hover {
    background: #ddd;
}

.history-past a.history-entry:hover{
    padding: 11px 5px 2px 5px;
    border-top: 2px solid red;
    background: url(../../images/up-arrow.png) top center no-repeat;
}
.history-future a.history-entry:hover{
    padding: 2px 5px 11px 5px;
    border-bottom: 2px solid red;
    background: url(../../images/down-arrow.png) bottom center no-repeat;
}

.history-future a.history-entry {
    color: #888;
}

.history-panel-footer {
    padding: 3px;
    text-align: center;
}
.history-panel-footer a {
    text-decoration: none;
}

.extract-operation-dialog-entries {
    height: 400px;
    padding: 2px;
    border: 1px inset;
    overflow: auto;
}
textarea.history-operation-json {
    white-space: pre;
    font-family: monospace;
    height: 400px;
}