.slider-widget {
    position: relative;
    overflow: visible;
    margin-left: 12px;
    margin-right: 12px;
}

.slider-widget-tint {
    position: absolute;
    top: 0px;
    height: 100%;
    background: black;
    opacity: 0.2;
    display: none;
}
.slider-widget-tint.left {
    left: 0px;
}
.slider-widget-tint.right {
    right: 0px;
}
.slider-widget-highlight {
    position: absolute;
    padding: 1px 0px;
    border: 1px solid #ff6a00;
    top: -2px;
    height: 100%;
    cursor: move;
}
.slider-widget-bracket {
    position: absolute;
    width: 12px;
    top: 0px;
    height: 100%;
}
.slider-widget-bracket.left {
    background: url(../../images/slider-handle.png) no-repeat center right;
    margin-left: -14px;
    cursor: e-resize;
}
.slider-widget-bracket.right {
    background: url(../../images/slider-handle.png) no-repeat center left;
    margin-left: 2px;
    cursor: w-resize;
}
.slider-widget-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.01;
}