.viewPanel-summary-row-count {
    font-size: 150%;
    font-weight: bold;
}
a.viewPanel-pagingControls-page {
    margin: 0 2px;
    padding: 2px 4px 3px 4px;
    font-weight: bold;
}
a.viewPanel-pagingControls-page.inaction {
    background: #f8f8f8;
    color: #777;
    border: 1px solid #ff6a00;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.data-table-container {
    border: 1px solid #ccc;
    overflow: auto;
}

table.data-table {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}

table.data-table > tbody > tr > td {
    padding: 2px 5px;
    border-right: 1px solid white;
}

table.data-table > tbody > tr.odd > td {
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
}

table.data-table > tbody > tr.even > td {
    border-top: 1px solid white;
    border-right: 1px solid white;
    background: #eee;
}

table.data-table > tbody > tr.contextual > td > div {
    opacity: 0.3;
}

table.data-table > tbody > tr.record.contextual > td {
}

table.data-table td.column-header {
    background: #e8e8e8;
    cursor: pointer;
    padding: 5px 5px;
    border-bottom: 1px solid #ccc;
    white-space: pre;
    font-weight: bold;
}

table.data-table td.column-header td {
	vertical-align: middle;
}

table.column-header-layout {
    border-collapse: collapse;
    width: 100%;
}
table.column-header-layout td {
    padding: 0px;
    font-weight: bold;
}
a.column-header-menu {
    display: block;
    margin-right: 5px;
    width: 17px;
    height: 23px;
    background-image: url(../../images/menu-dropdown.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
a.column-header-menu:hover {
    background-position: -17px 0px;
}
.column-header-recon-stats-bar {
    margin-top: 5px;
    height: 3px;
    max-height: 3px;
    background: #333;
    position: relative;
    width: 100%;
}
.column-header-recon-stats-blanks {
    position: absolute;
    height: 100%;
    background: white;
}
.column-header-recon-stats-matched {
    position: absolute;
    height: 100%;
    background: #6d6;
}

table.viewPanel-header {
    border-collapse: collapse;
    width: 100%;
}
table.viewPanel-header td {
    padding: 1em 1em 1em 0;
}

div.data-table-cell-content {
    position: relative;
}
a.data-table-cell-edit {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 30px;
    height: 16px;
    text-decoration: none;
    background-image: url(../../images/edit-map.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    visibility: hidden;
}
a.data-table-cell-edit:hover {
    background-position: -30px 0px;
}
.data-table-value-nonstring {
    color: #880;
}
.data-table-error {
    color: red;
}
div.data-table-recon-candidates {
    margin: 0.5em 0;
    min-width: 15em;
    color: #88a;
}
div.data-table-recon-candidate {
    padding-left: 35px;
    position: relative;
}

a.data-table-recon-topic {
    text-decoration: none;
    color: #88a;
}
a.data-table-recon-topic:hover {
    text-decoration: underline;
    color: #008;
}

.data-table-recon-score {
    color: #aaa;
    margin: 0 0.5em;
}

a.data-table-recon-action, a.data-table-recon-search {
    font-size: 80%;
    text-decoration: none;
    color: #aaf;
}
a.data-table-recon-action:hover, a.data-table-recon-search:hover {
    text-decoration: underline;
    color: #008;
}

a.data-table-recon-match {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../../images/checks-map.png');
    background-repeat: no-repeat;
    background-position: -17px 0px;
    text-decoration: none;
    position: absolute;
    top: 0px;
    left: 0px;
}
a.data-table-recon-match:hover {
    background-position: 0px 0px;
}

a.data-table-recon-match-similar {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../../images/checks-map.png');
    background-repeat: no-repeat;
    background-position: -17px -17px;
    text-decoration: none;
    position: absolute;
    top: 0px;
    left: 16px;
}
a.data-table-recon-match-similar:hover {
    background-position: 0px -17px;
}

a.data-table-star-on, a.data-table-star-off, a.data-table-flag-on, a.data-table-flag-off {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../../images/star-flag-map.png');
    background-repeat: no-repeat;
    text-decoration: none;
}
a.data-table-star-on, a.data-table-star-off:hover {
    background-position: 0px 0px;
}
a.data-table-star-off, a.data-table-star-on:hover {
    background-position: -17px 0px;
}
a.data-table-flag-on, a.data-table-flag-off:hover {
    background-position: 0px -17px;
}
a.data-table-flag-off, a.data-table-flag-on:hover {
    background-position: -17px -17px;
}

.data-table-cell-editor {
    border: 1px solid #ccc;
    padding: 5px;
    background: #fffee0;
}
table.data-table-cell-editor-layout {
    white-space: pre;
}

textarea.data-table-cell-editor-editor {
    display: block;
    width: 96%;
    padding: 2%;
    height: 3em;
}

span.data-table-cell-editor-key {
    color: #aaa;
}

.data-table-topic-popup-header {
    padding: 5px;
    background: #DBE8EB;
}
iframe.data-table-topic-popup-iframe {
    background: #DBE8EB;
    border: none;
}