*~
\#*#
.*.swp
*.DS_Store
*.class
.com.apple.timemachine.supported
.import-temp/
build/
dist/
server/classes/
main/webapp/WEB-INF/classes/
main/tests/server/classes/
main/test-output/
appengine/classes/
tools/
extensions/sample-extension/module/MOD-INF/classes/
extensions/jython/module/MOD-INF/classes/
extensions/jython/module/MOD-INF/lib/cachedir/
extensions/rdf-exporter/module/MOD-INF/classes/
broker/appengine/module/MOD-INF/classes/
broker/core/module/MOD-INF/classes/
broker/core/WEB-INF/lib/
broker/core/data/
broker/core/test-output/
tmp/
/test-output
/bin
open-refine.log
