language: java
dist: xenial
jdk:
  - openjdk8
  - openjdk9
#  - oraclejdk11
  - openjdk11

branches:
  only:
  - capstone-testing
  - capstone-master

addons:
  mariadb: '10.3'
  
services:
  # - mysql
  - postgresql

env:
  # encrypted Codacy key, see https://docs.travis-ci.com/user/encryption-keys/
  - secure: "VmS4He99YlI6rdmw8Q25OZ9kUp11sRbt0W1QMBvA5lzNSmhN1Q1KtaMj9AGwpCZWcyGWri4AQxEmloARxACxQHXRmNE7ro2DESGw46RAocBAf+RfBxYTifIyUGu5TnSCQhz56SkgpyWpedZAZWyah9ZxgUMfet4KXFUfeiUgYQA="

before_install:
  # create test database for mysql, mariadb and postgresql
  # mysql is currently disabled: https://github.com/OpenRefine/OpenRefine/issues/2043
  - mysql -u root -e 'CREATE DATABASE test_db;'
  - mysql -u root test_db < extensions/database/tests/conf/travis-mysql.sql
  - psql -c 'CREATE DATABASE test_db;' -U postgres
  - psql -U postgres test_db < extensions/database/tests/conf/travis-pgsql.sql
  - cp extensions/database/tests/conf/travis_tests.xml extensions/database/tests/conf/tests.xml
  - cp packaging/travis_pom.xml packaging/pom.xml
  - mvn process-resources

script:
  - mvn jacoco:prepare-agent test

after_success:
  - mvn prepare-package -DskipTests=true
  - mvn jacoco:report coveralls:report

cache:
  directories:
  - $HOME/.m2
