language: java
jdk:
  - oraclejdk8
  - openjdk8
  
addons:
  mariadb: '10.0'
  
services:
  - mysql
  - postgresql 

env:
  # encrypted Codacy key, see https://docs.travis-ci.com/user/encryption-keys/
  - secure: "VmS4He99YlI6rdmw8Q25OZ9kUp11sRbt0W1QMBvA5lzNSmhN1Q1KtaMj9AGwpCZWcyGWri4AQxEmloARxACxQHXRmNE7ro2DESGw46RAocBAf+RfBxYTifIyUGu5TnSCQhz56SkgpyWpedZAZWyah9ZxgUMfet4KXFUfeiUgYQA="
  
before_install:
  - wget -O ~/codacy-coverage-reporter-assembly-latest.jar https://github.com/codacy/codacy-coverage-reporter/releases/download/2.0.0/codacy-coverage-reporter-2.0.0-assembly.jar
  # create test database for mysql, mariadb and postgresql
  - mysql -u root -e 'CREATE DATABASE test_db;'
  - mysql -u root test_db < extensions/database/tests/conf/travis-mysql.sql
  - psql -c 'CREATE DATABASE test_db;' -U postgres
  - psql -U postgres test_db < extensions/database/tests/conf/travis-pgsql.sql
  - cp extensions/database/tests/conf/travis_tests.xml extensions/database/tests/conf/tests.xml
  - cp packaging/travis_pom.xml packaging/pom.xml
  - mvn process-resources

script:
  - ./refine test

after_success:
  - mvn prepare-package -DskipTests=true
  - java -cp ~/codacy-coverage-reporter-assembly-latest.jar com.codacy.CodacyCoverageReporter -l Java -r target/report/jacoco-merged.exec

cache:
  directories:
  - $HOME/.m2

