[Desktop Entry]
Name=OpenRefine
Name[en_CA]=OpenRefine
Version=2.8
Exec=/usr/local/bin/openrefine/refine
Comment=Application for data cleanup
Icon=/opt/openrefine/icon.png
Type=Application
Terminal=true
StartupNotify=false
Encoding=UTF-8
Categories=Utility;

