<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>inject-windows-jre-home</id>
      <properties>
        <windows.jre.home>C:\jre1.8.0_241</windows.jre.home>
      </properties>
    </profile>
    <profile>
      <id>embedded-jre</id>
      <properties>
        <windows.package.jre.path>server/target/jre</windows.package.jre.path>
        <windows.package.jre.directory>${windows.jre.home}</windows.package.jre.directory>
        <windows.package.jre.outputDirectory>server/target/jre</windows.package.jre.outputDirectory>
        <windows.package.jre.prefix>with-java-</windows.package.jre.prefix>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>inject-windows-jre-home</activeProfile>
  </activeProfiles>
  </settings>
