@import-less url("../theme.less");

.browsing-panel-header {
  padding-bottom: 0.5em;
  position: relative;
  display: none;
  }

.browsing-panel-indicator {
  visibility: hidden;
  position: absolute;
  width: 50%;
  margin: 0px;
  top: 0em;
  left: 20%;
  text-align: center;
  background-color: #fff;
  padding: 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #ccc;
  }

.browsing-panel-indicator img {
  vertical-align: text-top;
  }

.browsing-panel-controls {
  position: relative;
  padding: @padding_normal;
  visibility: hidden;
  text-align: right;
  }

.browsing-panel-controls-refresh {
  position: absolute;
  top: @padding_normal;
  left: @padding_normal;
  }

.browsing-panel-help, .history-panel-help {
  margin: 1em;
  padding: 0 0 13px 0;
  background: @fill_primary;
  border: 1px solid @chrome_primary;
  color: @near_black;
  .rounded_corners();
  }
  
.browsing-panel-help h1, .history-panel-help h1 {
  margin: 10px;
  padding: 20px 0 0 10px;
  font-size: 1.15em;
  font-weight: bold;
  background: url(/images/logo-gem-40.png) no-repeat right top;
  }

.browsing-panel-help p, .history-panel-help p {
  padding: 7px 20px;
  line-height: 1.3;
  }

@history_done_background: white;
@history_undone_background: #f2f2ff; /* #a9e9fb; */
@history_now_background: @chrome_primary;
@history_entry_vpadding: 7px;
@history_entry_hpadding: 5px;
@history_entry_index_width: 30px;

.history-panel-controls {
    padding: @padding_normal;
    text-align: right;
    font-weight: bold;
    
    a {
      text-decoration: none;
    }
}

.history-panel-message {
    text-align: center;
    font-style: italic;
    padding: @padding_loose;
}

.history-panel-body-controls {
    padding: @padding_tighter @padding_normal;
    
    input {
      vertical-align: baseline;
    }
}

.history-panel-body {
    background: @history_undone_background;
    overflow: auto;
    border-top: 1px solid @chrome_primary;
}

.history-past {
    position: relative;
    background: @history_done_background;
}
.history-now {
    background: @history_now_background;
}
.history-future {
    position: relative;
}

.history-highlight {
    position: absolute;
    left: 0px;
    width: 100%;
    display: none;
}
.history-past .history-highlight {
    background: @history_undone_background;
    bottom: 0px;
}
.history-future .history-highlight {
    background: @history_done_background;
    top: 0px;
}

.history-entry-index {
    position: absolute;
    left: 0px;
    top: 0px;
    width: @history_entry_index_width;
    text-align: right;
    font-size: 80%;
    padding: 2px 0px;
}

a.history-entry {
    display: block;
    position: relative;
    padding: @history_entry_vpadding @history_entry_hpadding;
    padding-left: @history_entry_hpadding + @history_entry_index_width;
    text-decoration: none;
    color: black;
    border-top: 1px dotted #ddd;
}
.history-future a.history-entry, .history-future a.history-entry-index {
    color: @light_grey;
}

.history-past a.history-entry:hover, .history-future a.history-entry:hover {
    border-bottom: 2px solid @history_now_background;
}

.extract-operation-dialog-entries {
    height: 400px;
    padding: 2px;
    border: 1px inset;
    max-width: 400px !important;
    overflow: auto;
}
textarea.history-operation-json {
    white-space: pre;
    font-family: monospace;
    height: 400px;
}
