/**
 * You can override the default Infima variables here.
 * Note: this is not a complete list of --ifm- variables.
 */
 :root {
    --ifm-color-primary: #196581;
    --ifm-color-primary-dark: #165b74;
    --ifm-color-primary-darker: #15566e;
    --ifm-color-primary-darkest: #11475a;
    --ifm-color-primary-light: #1c6f8e;
    --ifm-color-primary-lighter: #1d7494;
    --ifm-color-primary-lightest: #2183a8;
    --ifm-color-secondary: #999999;
  }