@fill_normal: #e3e9ff;
@fill_accent: #bbccff;
@line_accent: #bbccff;

@link_primary: #11c;
@link_secondary: #4272db;
@chrome_primary: #bcf;
@chrome_secondary: #e3e9ff;
@fill_primary: #ebeef8;
@fill_secondary: #f2f2f2;
@faint_grey: #ddd;
@light_grey: #999;
@metadata_grey: #777;
@near_black: #444;

@padding_tighter: 3px;
@padding_tight: 5px;
@padding_normal: 7px;
@padding_loose: 10px;
@padding_looser: 15px;

.rounded_corners (@radius: 5px) { 
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
  }
  
