@fill_normal: #e3e9ff;
@fill_accent: #bbccff;

@line_accent: #bbccff;

@padding_normal: 7px;
@padding_tight: 5px;
@padding_tighter: 3px;
@padding_loose: 10px;
@padding_looser: 15px;

@link_color: blue;