/**
 * You can override the default Infima variables here.
 * Note: this is not a complete list of --ifm- variables.
 */

 /**
 * Colors extracted from our OpenRefine logo
 */
 :root {
    --ifm-color-primary: #00a0ff;
    --ifm-color-primary-dark: #0078ff;
    --ifm-color-primary-darker: #0050ac;
    --ifm-color-primary-darkest: #003b7e;
    --ifm-color-primary-light: #00b4ff;
    --ifm-color-primary-lighter: #2da6d1;
    --ifm-color-primary-lightest: #00dcff;
    --ifm-color-secondary: #999999;
    --ifm-alert-border-width: 0.375em;
    --ifm-alert-background-color: #ffffff;
    --ifm-panel-background-color: #ffffff;
    --ifm-panel-box-shadow-color: #999999;
    --ifm-code-color: var(--ifm-color-primary-darkest);
  }

  /******* COMMON *******/

  html[data-theme='dark'] {
    --ifm-panel-background-color: rgb(41, 45, 62);
    --ifm-panel-box-shadow-color: var(--ifm-panel-background-color);
    --ra-admonition-color: var(--ifm-color-black);
    --ra-admonition-icon-color: var(--ifm-color-black);
    --ifm-code-color: var(--ifm-color-primary-light);
  }

  /******* MARKDOWN STYLES *******/

  .alert {
    border-radius: 0;
    border: 0;
    box-shadow: 0em 0em 0.625em 0em var(--ifm-panel-box-shadow-color);
    border-width: 1em;
    border-left: var(--ifm-alert-border-width) solid var(--ifm-alert-border-color);
    background-color: var(--ifm-panel-background-color);
    color: var(--ifm-font-color-secondary);
  }

  .admonition-icon svg {
    fill: var(--ifm-font-color-secondary);
  }

  .alert a {
    color: var(--ifm-font-color-secondary);
  }

  .markdown h4{
    margin-top: 1.025em;
    font-size: 1.25em;
  }

  .markdown h3{
    margin-top: 1.325em;
    font-size: 1.8125em;
  }

  .markdown h2{
    margin-top: 1.525em;
    font-size: 2.1875em;
  }

  .markdown .menuItems, .markdown .fieldLabels, .markdown .tabLabels, .markdown .buttonLabels {
    font-size: var(--ifm-code-font-size);
    display: inline-block;
    border: 0.125em solid #4dc6e1;
    border-radius: var(--ifm-code-border-radius);
    margin: 0.0625em 0em;
    padding: 0em 0.25em;
  }

  .markdown img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }

  code {
    color: var(--ifm-code-color);
  }
