/**
 * You can override the default Infima variables here.
 * Note: this is not a complete list of --ifm- variables.
 */

 /**
 * Colors extracted from our OpenRefine logo
 */
 :root {
    --ifm-color-primary: #00b4ff;
    --ifm-color-primary-dark: #00a2e6;
    --ifm-color-primary-darker: #00a0ff;
    --ifm-color-primary-darkest: #0078ff;
    --ifm-color-primary-light: #2da6d1;
    --ifm-color-primary-lighter: #00dcff;
    --ifm-color-primary-lightest: #00ffff;
    --ifm-color-secondary: #999999;
  }