<div class="dialog-frame" style="width: 700px;">
  <div class="dialog-border">
    <div class="dialog-header" bind="dialogHeader"></div>
    <div class="dialog-body" bind="dialogBody">
      <div class="grid-layout layout-normal layout-full"><table cols="2">
        <tr>
          <td width="1%" style="white-space: pre;">New column name</td>
          <td><input bind="columnNameInput" size="40" /></td>
        </tr>
        <tr>
          <td width="1%" style="white-space: pre;">On error</td>
          <td>
            <input type="radio" name="create-column-dialog-onerror-choice" value="set-to-blank" checked id="$add-column-error-set-to-blank" />
              <label for="$add-column-error-set-to-blank">set to blank</label>
            <input type="radio" name="create-column-dialog-onerror-choice" value="store-error" id="$add-column-error-store-error" />
              <label for="$add-column-error-store-error">store error</label>
            <input type="radio" name="create-column-dialog-onerror-choice" value="keep-original" id="$add-column-error-keep-original" />
              <label for="$add-column-error-keep-original">copy value from original column</label></td>
        </tr>
        <tr><td colspan="2">$EXPRESSION_PREVIEW_WIDGET$</td></tr>
      </table></div>
    </div>
    <div class="dialog-footer" bind="dialogFooter">
      <button class="button" bind="okButton">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
      <button class="button" bind="cancelButton">Cancel</button>
    </div>
  </div>
</div>