<div class="dialog-frame" style="width: 700px;">
<form bind="form">
  <div class="dialog-border">
    <div class="dialog-header" bind="dialogHeader"></div>
    <div class="dialog-body" bind="dialogBody">
      <div class="grid-layout layout-normal layout-full"><table cols="2">
        <tr>
          <td width="1%" style="white-space: pre;"><label for="columnNameInputId" bind="or_views_newCol" ></label></td>
          <td><input bind="columnNameInput" id="columnNameInputId" size="40" autofocus/></td>
        </tr>
      </table></div>
    </div>
    <div class="dialog-footer" bind="dialogFooter">
      <button type="submit" class="button button-primary" bind="okButton"></button>
      <button class="button" bind="cancelButton"></button>
    </div>
  </div>
  </form>
</div>
