<table class="grid-layout layout-tighest layout-full data-table-cell-editor-layout">
  <tr>
    <td colspan="5"><textarea class="data-table-cell-editor-editor" bind="textarea" /></td>
  </tr>
  <tr>
    <td width="1%" align="center"><button class="button" bind="okButton">Apply</button><br/><span class="data-table-cell-editor-key">Enter</span></td>
    <td width="1%" align="center"><button class="button" bind="cancelButton">Cancel</button><br/><span class="data-table-cell-editor-key">Esc</span></td>
    <td><select bind="typeSelect">
        <option value="text">text</option>
        <option value="number">number</option>
        <option value="boolean">boolean</option>
        <option value="date">date</option>
      </select></td>
    <td width="1%"><input type="checkbox" bind="applyOthersCheckbox" /></td>
    <td>apply to other cells with<br/>same content <span class="data-table-cell-editor-key">(Ctrl-Enter)</span></td>
  </tr>
</table>