
  Data type: <select bind="typeSelect">
    <option value="text">text</option>
    <option value="number">number</option>
    <option value="boolean">boolean</option>
    <option value="date">date</option>
  </select>

<textarea class="data-table-cell-editor-editor" bind="textarea" />

<div id="data-table-cell-editor-actions">
  <div class="data-table-cell-editor-action">
    <button class="button" bind="okButton">Apply</button>
    <div class="data-table-cell-editor-key">Enter</div>
  </div>
  <div class="data-table-cell-editor-action">
    <button class="button" bind="okallButton">Apply to All Identical Cells</button>
    <div class="data-table-cell-editor-key">Ctrl-Enter</div>
  </div>
  <div class="data-table-cell-editor-action">
    <button class="button" bind="cancelButton">Cancel</button>
    <div class="data-table-cell-editor-key">Esc</div>
  </div>
</div>