<div class="dialog-frame-settings" style="min-width: 350px; width: 350px; height: 140px;
display: grid; overflow: auto;border-top: none;background: rgb(221, 221, 221); visibility: visible; margin: auto; ;
vertical-align: middle"  >
    <div class="dialog-border">
        <div class="dialog-header"></div>
        <div class="dialog-body" >
                <table>
                <tr>
                   <td width="50%" style="text-align: center"> <input type="checkbox" class="inline" id="toggling-nulls">
                    <label for="toggling-control-characters"> <b>Show nulls</b></label></td>
                    <td width="50%" style="text-align: center">   <input type="checkbox" class="inline" id="toggling-control-characters">
                        <label for="toggling-control-characters" > <b>Show control characters</b></label></td>
                </tr>
                </table>
        </div>
        <div class="settings-dialog-container dialog-footer">
            <button class="button">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
            <button class="button">Cancel</button>
        </div>
    </div>
</div>


