<div class="dialog-frame-settings" style="min-width: 350px; width: 350px; height: 140px;
display: grid; overflow: auto;border-top: none;background: rgb(221, 221, 221); visibility: visible; margin: auto; ;
vertical-align: middle"  >
    <div class="dialog-border" >
        <div class="dialog-header" bind="settingsDialogHeader"></div>
        <div class="dialog-body" bind="settingsDialogBody">
                <table>
                <tr>
                   <td width="50%" style="text-align: center"> <input type="checkbox" class="inline" id="toggling-nulls">
                    <label for="toggling-nulls" bind="show_nulls"></label></td>
                    <td width="50%" style="text-align: center">   <input type="checkbox" class="inline" id="toggling-control-characters">
                        <label for="toggling-control-characters" bind="show_control_chars" ></label></td>
                </tr>
                </table>
        </div>
        <div class="dialog-footer"  bind="settingsDialogFooter">
            <button class="button" bind="settingsOkButton"></button>
            <button class="button" bind="settingsCancelButton"></button>
        </div>
    </div>
</div>


