<div class="dialog-frame" style="width: 400px;">
  <div class="dialog-border">
    <div class="dialog-header" bind="dialogHeader"></div>
    <div class="dialog-body" bind="dialogBody">
      <div class="grid-layout layout-normal layout-full "><table>
        <tr>
          <td><span bind="or_views_sortAs"></span></td>
          <td><span bind="or_views_positionBlank"></span></td>
        </tr>
        <tr>
          <td style="vertical-align: top;">
            <div class="grid-layout layout-tightest grid-layout-for-text" bind="valueTypeOptions"><table>
              <tr>
                <td width="1"><input type="radio" name="sorting-dialog-value-type" value="string" id="$sorting-dialog-value-type-string" /></td>
                <td><label for="$sorting-dialog-value-type-string" bind="or_views_text"></label>
                  <input type="checkbox" class="inline" bind="caseSensitiveCheckbox" id="$sorting-dialog-case-sensitive" />
                  <label for="$sorting-dialog-case-sensitive" bind="or_views_caseSens"></label></td>
              </tr>
              <tr>
                <td width="1"><input type="radio" name="sorting-dialog-value-type" value="number" id="$sorting-dialog-value-type-number" /></td>
                <td><label for="$sorting-dialog-value-type-number" bind="or_views_numbers"></label></td>
              </tr>
              <tr>
                <td width="1"><input type="radio" name="sorting-dialog-value-type" value="date" id="$sorting-dialog-value-type-date" /></td>
                <td><label for="$sorting-dialog-value-type-date" bind="or_views_dates"></label></td>
              </tr>
              <tr>
                <td width="1"><input type="radio" name="sorting-dialog-value-type" value="boolean" id="$sorting-dialog-value-type-boolean" /></td>
                <td><label for="$sorting-dialog-value-type-boolean" bind="or_views_booleans"></label></td>
              </tr>
            </table></div>
          </td>
          <td>
            <ul class="sorting-dialog-blank-error-positions" bind="blankErrorPositions"></ul>
            <p bind="or_views_dragDrop"></p>
          </td>
        </tr>
        <tr><td colspan="2" bind="directionOptions">
          <input type="radio" class="inline" name="sorting-dialog-direction" value="forward" id="$sorting-dialog-direction-forward" />
            <label for="$sorting-dialog-direction-forward" bind="directionForwardLabel"></label>
          <input type="radio" class="inline" name="sorting-dialog-direction" value="reverse" id="$sorting-dialog-direction-reverse" />
            <label for="$sorting-dialog-direction-reverse" bind="directionReverseLabel"></label>
            
          <span bind="sortAloneContainer" style="display:none;"><input type="checkbox" class="inline" id="$sorting-dialog-alone" />
            <label for="$sorting-dialog-alone" bind="or_views_sortByCol"></label></span>
        </td></tr>
      </table></div>
    </div>
    <div class="dialog-footer" bind="dialogFooter">
      <button class="button button-primary" bind="okButton"></button>
      <button class="button" bind="cancelButton"></button>
    </div>
  </div>
</div>  
