<div class="dialog-frame" style="width: 700px;">
  <div class="dialog-border">
    <div class="dialog-header" bind="dialogHeader"></div>
    <div class="dialog-body" bind="dialogBody">
      <div class="grid-layout layout-tight layout-full"><table>
          <tr><td colspan="4">$EXPRESSION_PREVIEW_WIDGET$</td></tr>
          <tr style="white-space: pre;">
              <td width="1%">On error</td>
              <td><input type="radio" name="text-transform-dialog-onerror-choice" value="set-to-blank" checked /> set to blank<br/><input type="radio" name="text-transform-dialog-onerror-choice" value="store-error" /> store error<br/><input type="radio" name="text-transform-dialog-onerror-choice" value="keep-original" /> keep original</td>
              <td width="1%"><input type="checkbox" bind="repeatCheckbox" /></td>
              <td>Re-transform up to <input bind="repeatCountInput" value="10" size="2" /> times until no change</td>
          </tr>
      </table>
    </div>
  </div>
  <div class="dialog-footer" bind="dialogFooter">
    <button class="button" bind="okButton">&nbsp;&nbsp;OK&nbsp;&nbsp;</button>
    <button class="button" bind="cancelButton">Cancel</button>
  </div>
</div>