<div class="dialog-frame" style="min-width: 700px;">
  <div class="dialog-border">
    <div class="dialog-header" bind="dialogHeader"></div>
    <div class="dialog-body" bind="dialogBody">
      <div class="grid-layout layout-normal layout-full grid-layout-for-ui"><table>
        <tr>
          <td><label for="fromColumnSelectId" bind="or_views_fromCol"></label></td>
          <td><label for="toColumnSelectId" bind="or_views_toCol"></label></td>
          <td bind="or_views_transpose"></td>
        </tr>
        <tr>
          <td><select bind="fromColumnSelect" id="fromColumnSelectId" size="20" style="width: 100%;"></select></td>
          <td><select bind="toColumnSelect" id="toColumnSelectId" size="20" style="width: 100%;"></select></td>
          <td><div class="grid-layout layout-tight"><table>
            <tr>
              <td><input type="radio" id="$transpose-dialog-two-columns" name="transpose-dialog-column-choices" value="2" checked /></td>
              <td><label for="$transpose-dialog-two-columns"><span bind="or_views_twoCol"></span></label></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><div class="grid-layout layout-tightest"><table>
                <tr>
                  <td><label for="keyColumnNameInputId" bind="or_views_keyCol"></label></td>
                  <td><input bind="keyColumnNameInput" id="keyColumnNameInputId" size="15"> <span bind="or_views_containNames"></span></td>
                </tr>
                <tr>
                  <td><label for="valueColumnNameInputId" bind="or_views_valCol"></label></td>
                  <td><input bind="valueColumnNameInput" id="valueColumnNameInputId" size="15"> <span bind="or_views_containOrig"></span></td>
                </tr>
              </table></div></td>
            </tr>
            <tr>
              <td><input type="radio" id="$transpose-dialog-one-column" name="transpose-dialog-column-choices" value="1" /></td>
              <td><label for="$transpose-dialog-one-column"><span bind="or_views_oneCol"></span> <input bind="combinedColumnNameInput" size="15" /></label></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><div class="grid-layout layout-tightest"><table>
                <tr>
                  <td><input aria-describedby="or_views_followById separatorInputId or_views_beforeValId" type="checkbox" bind="prependColumnNameCheckbox" id="$transpose-dialog-prepend" /></td>
                  <td><label for="$transpose-dialog-prepend"><span bind="or_views_prependName"></span></label></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td><span bind="or_views_followBy" id="or_views_followById"></span>
                    <input aria-label="" bind="separatorInput" id="separatorInputId" size="2" value=":" />
                    <span bind="or_views_beforeVal" id="or_views_beforeValId"></span>
                  </td>
                </tr>
              </table></div></td>
            </tr>
            <tr>
              <td><input type="checkbox" bind="ignoreBlankCellsCheckbox" checked id="$transpose-dialog-ignore" /></td>
              <td><label for="$transpose-dialog-ignore"><span bind="or_views_ignoreBlank"></span></label></td>
            </tr>
            <tr>
              <td><input type="checkbox" bind="fillDownCheckbox" id="$transpose-dialog-fill-down" /></td>
              <td><label for="$transpose-dialog-fill-down"><span bind="or_views_fillOther"></span></label></td>
            </tr>
          </table></div></td>
        </tr>
      </table></div>
    </div>
    <div class="dialog-footer" bind="dialogFooter">
      <button class="button button-primary" bind="okButton"></button>
      <button class="button" bind="cancelButton"></button>
    </div>
  </div>
</div>
