<div class="dialog-frame" style="width: 700px;">
  <div class="dialog-border">
    <div class="dialog-header" bind="dialogHeader">Transpose Cells Across Columns into Rows</div>
    <div class="dialog-body" bind="dialogBody">
      <div class="grid-layout layout-normal layout-full grid-layout-for-ui"><table>
        <tr>
          <td>From Column</td>
          <td>To Column</td>
          <td>Transpose into</td>
        </tr>
        <tr>
          <td><select bind="fromColumnSelect" size="20" style="width: 100%;"></select></td>
          <td><select bind="toColumnSelect" size="20" style="width: 100%;"></select></td>
          <td><div class="grid-layout layout-tight"><table>
            <tr>
              <td><input type="radio" id="$transpose-dialog-two-columns" name="transpose-dialog-column-choices" value="2" checked /></td>
              <td><label for="$transpose-dialog-two-columns">Two new columns</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><div class="grid-layout layout-tightest"><table>
                <tr>
                  <td>Key column</td>
                  <td><input bind="keyColumnNameInput" size="15"> (containing original columns' names)</td>
                </tr>
                <tr>
                  <td>Value column</td>
                  <td><input bind="valueColumnNameInput" size="15"> (containing original cells' values)</td>
                </tr>
              </table></div></td>
            </tr>
            <tr>
              <td><input type="radio" id="$transpose-dialog-one-column" name="transpose-dialog-column-choices" value="1" /></td>
              <td><label for="$transpose-dialog-one-column">One column <input bind="combinedColumnNameInput" size="15" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><div class="grid-layout layout-tightest"><table>
                <tr>
                  <td><input type="checkbox" bind="prependColumnNameCheckbox" id="$transpose-dialog-prepend" /></td>
                  <td><label for="$transpose-dialog-prepend">prepend the original column's name to each cell</label></td>
                </tr>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>followed by
                    <input bind="separatorInput" size="2" value=":" />
                    before the cell's value
                  </td>
                </tr>
              </table></div></td>
            </tr>
            <tr>
              <td><input type="checkbox" bind="ignoreBlankCellsCheckbox" checked id="$transpose-dialog-ignore" /></td>
              <td><label for="$transpose-dialog-ignore">Ignore blank cells</label></td>
            </tr>
            <tr>
              <td><input type="checkbox" bind="fillDownCheckbox" id="$transpose-dialog-fill-down" /></td>
              <td><label for="$transpose-dialog-fill-down">Fill down in other columns</label></td>
            </tr>
          </table></div></td>
        </tr>
      </table></div>
    </div>
    <div class="dialog-footer" bind="dialogFooter">
      <button class="button" bind="okButton">Transpose</button>
      <button class="button" bind="cancelButton">Cancel</button>
    </div>
  </div>
</div>