<div class="dialog-frame" style="width: 600px;">
  <div class="dialog-border">
    <div class="dialog-header" bind="dialogHeader"></div>
    <div class="dialog-body" bind="dialogBody">
      <div class="grid-layout layout-normal layout-full grid-layout-for-ui"><table>
        <tr>
          <td bind="or_views_keyCol"></td>
          <td bind="or_views_valCol"></td>
          <td bind="or_views_noteCol"></td>
        </tr>
        <tr>
          <td><select bind="keyColumnSelect" size="15" style="width: 100%;"></select></td>
          <td><select bind="valueColumnSelect" size="15" style="width: 100%;"></select></td>
          <td><select bind="noteColumnSelect" size="15" style="width: 100%;"></select></td>
        </tr>
      </table></div>
    </div>
    <div class="dialog-footer" bind="dialogFooter">
      <button class="button" bind="okButton"></button>
      <button class="button" bind="cancelButton"></button>
    </div>
  </div>
</div>