<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
     
    <servlet>
        <servlet-name>Butterfly</servlet-name>
        <servlet-class>edu.mit.simile.butterfly.Butterfly</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Butterfly</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/expire_locks</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
        
</web-app>
