td.highlighted {
  background: #e8e8e8;
}

span.emphasized{
  font-weight:bold;
  font-size: 11pt;
}

div.rdf-schema-alignment-dialog-preview {
    height: 350px;
}

div.rdf-schema-alignment-dialog-canvas {
	height: 350px;
}

div.note{
	font-size:1em;
	color: #FF6A00;
	margin-top:10px;
}

div.vocabulary-manager-list{
	height:64%;
	overflow:auto;
}

div.vocabulary-manager-footer{
	height:31%;
}

div.vocabulary-manager-footer h2{
	margin:0;
}