#*
  This file contains common velocity macros used in all .vt files.
  For Velocity documentation, see:
  
  http://velocity.apache.org/engine/releases/velocity-1.5/user-guide.html
*#

#macro( makeAList $list )
  <ul>
    #foreach($item in $list)
      <li>$item</li>
    #end
  </ul>
#end