.browsing-panel-header {
    height: 5em;
}

.browsing-panel-indicator {
    display: none;
}
.browsing-panel-controls {
    display: none;
}
.browsing-panel-help {
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.browsing-panel-help h1 {
    margin-top: 0px;
    font-size: 150%;
    font-weight: bold;
    color: #888;
}

ul.facets-container {
    padding: 0;
}

li.facet-container {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    background: white;
    border: 1px solid #bbb;
    
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;    
    border-radius: 7px 7px;
}

.facet-title {
    padding: 3px 5px;
    padding-right: 2px;
    font-weight: bold;
    cursor: move;
}

.facet-status {
    font-size: 90%;
    padding: 2px 5px;
}
.facet-controls {
    font-size: 90%;
    padding: 5px 5px;
    background: #F4F7FA;
    border-bottom: 1px solid #eee;
}
a.facet-mode-link {
    text-decoration: none;
    padding: 2px;
    margin 0px 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
a.facet-mode-link:hover {
    background: #666;
    color: white;
}
a.facet-mode-link.facet-mode-link-selected {
    background: #888;
    color: #eee;
    color: default;
}

.facet-body {
    padding: 1px;
}
.facet-body-message {
    margin: 1em;
    color: #f88;
}
.facet-body-scrollable {
    height: 20em;
    overflow: auto;
}


.facet-choice {
    padding: 2px 5px;
    clear: both;
}
.facet-choice-selected .facet-choice-label {
    font-weight: bold;
}

a.facet-choice-label {
    margin-right: 0.25em;
    text-decoration: none;
    color: #004;
}
a.facet-choice-label:hover {
    text-decoration: underline;
    color: #66f;
}

.facet-choice-count {
    color: #aaa;
    font-size: 80%;
}

a.facet-choice-link {
    margin-left: 0.5em;
    font-size: 80%;
    float: right;
    text-decoration: none;
    color: #aac;
}
a.facet-choice-link:hover {
    text-decoration: underline;
    color: #88a;
}

img.facet-choice-link {
    text-align: baseline;
    cursor: pointer;
    margin-left: 2px;
    float: right;
}

.facet-range-body {
    padding: 15px;
}
.facet-range-message {
    margin: 1em;
    color: #f88;
}
.facet-range-histogram {
    margin: 10px 0px;
    overflow: hidden;
}
.facet-range-slider.ui-corner-all {
    border-bottom-left-radius: 0px 0px;
    border-bottom-right-radius: 0px 0px;
    border-top-left-radius: 0px 0px;
    border-top-right-radius: 0px 0px;
}


.facet-range-status {
    margin: 10px 0;
    text-align: center;
    color: #aaa;
}

.facet-text-body {
    border: 1px solid #ccc;
    padding: 5px;
}

.facet-scatterplot-image {
	border: 1px solid #f0f0f0;
	margin: 0.5em 0.8em;
}
