.history-panel {
    position: absolute;
    top: -1px;
    right: 20px;
    width: 250px;
    background: #fffee0;
    border: 1px solid #666;
    z-index: 10;
}
.history-panel h3 {
    margin: 0;
    padding: 3px;
    background: #aaa;
    color: #eee;
    font-size: 100%;
    text-align: center;
}
.history-panel-body {
    padding: 2px;
    height: 50px;
    overflow: hidden;
}
.history-panel-body.history-panel-body-expanded {
    height: 300px;
    overflow: auto;
}
.history-panel-message {
    text-align: center;
    color: #aaa;
}

.history-past {
    padding-bottom: 3px;
}
.history-now {
    padding: 1px;
    background: #f88;
    color: white;
    font-size: 80%;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
}
.history-future {
    padding-top: 3px;
}
a.history-entry {
    display: block;
    padding: 7px 5px;
    text-decoration: none;
    color: black;
    border-top: 1px solid #ddd;
}
a.history-entry:first-child {
    border-top: none;
}
a.history-entry:hover {
    background: #ddd;
}

.history-past a.history-entry:hover{
    padding: 11px 5px 2px 5px;
    border-top: 2px solid red;
    background: url(../../images/up-arrow.png) top center no-repeat;
}
.history-future a.history-entry:hover{
    padding: 2px 5px 11px 5px;
    border-bottom: 2px solid red;
    background: url(../../images/down-arrow.png) bottom center no-repeat;
}

.history-future a.history-entry {
    color: #888;
}

.history-panel-footer {
    margin: 0;
    padding: 3px;
    background: #aaa;
    color: #eee;
    font-size: 80%;
    text-align: center;
}
.history-panel-footer a {
    color: white;
    text-decoration: none;
}

table.extract-operation-dialog-layout td {
    vertical-align: top;
}
.extract-operation-dialog-entries {
    height: 400px;
    overflow: auto;
}
textarea.extract-operation-dialog-textarea {
    display: block;
    margin: 0;
    vertical-align: top;
    white-space: pre;
    font-family: monospace;
    padding: 2%;
    width: 96%;
    height: 400px;
}