.history-panel {
    position: absolute;
    top: -1px;
    right: 20px;
    width: 250px;
    background: #fff;
    z-index: 10;
}
.history-panel h3 {
    margin: 0;
    padding: 3px;
    background: #aaa;
    color: #fff;
    border-bottom: 1px solid #b8b8b8;
    font-size: 100%;
    text-align: center;
    border: 1px solid #666;
}
.history-panel-body {
    height: 60px;
    overflow: hidden;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
}
.history-panel-body.history-panel-body-expanded {
    height: 300px;
    overflow: auto;
}
.history-panel-message {
    text-align: center;
    color: #aaa;
}

.history-past {
    padding-bottom: 3px;
}
.history-now {
    padding: 0 0 2px 0;
    background: #a9e9fb;
    color: black;
    font-size: 80%;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
}
.history-future {
    padding-top: 3px;
}
a.history-entry {
    display: block;
    padding: 7px 5px;
    text-decoration: none;
    color: black;
    border-top: 1px solid #ddd;
}
a.history-entry:first-child {
    border-top: none;
}
a.history-entry:hover {
    background: #ddd;
}

.history-past a.history-entry:hover{
    padding: 11px 5px 2px 5px;
    border-top: 2px solid red;
    background: url(../../images/up-arrow.png) top center no-repeat;
}
.history-future a.history-entry:hover{
    padding: 2px 5px 11px 5px;
    border-bottom: 2px solid red;
    background: url(../../images/down-arrow.png) bottom center no-repeat;
}

.history-future a.history-entry {
    color: #888;
}

.history-panel-footer {
    margin: 0;
    padding: 3px;
    background: #b8b8b8;
    color: #fff;
    font-size: 90%;
    border: 1px solid #888;
    text-align: center;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;    
}
.history-panel-footer a {
    color: white;
    text-decoration: none;
}

.extract-operation-dialog-entries {
    height: 400px;
    padding: 2px;
    border: 1px inset;
    overflow: auto;
}
textarea.history-operation-json {
    white-space: pre;
    font-family: monospace;
    height: 400px;
}