.menu-bar {
    padding: 5px 10px;
    background: #e8e8e8;
    position: relative;
    border-bottom: 1px solid #CCCCCC;    
}

.menu-bar-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px 10px;
}

.menu-bar-inner a.menu-item {
    display: inline;
    padding: 5px 10px;
}

.menu-bar-inner a.menu-item:hover {
    background: #ddd;
}
