.browsing-panel {
}

.facet-container {
    clear: both;
    margin-top: 1em;
}

.facet-title {
    padding: 5px;
    background: #eee;
    font-weight: bold;
}
.facet-body {
    border: 1px solid #ccc;
    padding: 1px;
}
.facet-body-scrollable {
    height: 20em;
    overflow: auto;
}
.facet-footer {
    padding: 1px;
    text-align: center;
    font-size: 80%;
}

.facet-choice {
    padding: 2px 5px;
    clear: both;
}
.facet-choice-selected .facet-choice-label {
    font-weight: bold;
}

a.facet-choice-label {
    margin-right: 0.5em;
    text-decoration: none;
    color: #004;
}
a.facet-choice-label:hover {
    text-decoration: underline;
    color: #66f;
}

.facet-choice-count {
    color: #aaa;
}
.facet-choice-count:before {
    content: "(";
    color: #aaa;
}
.facet-choice-count:after {
    content: ")";
    color: #aaa;
}

a.facet-choice-link {
    margin-left: 1em;
    font-size: 80%;
    float: right;
    text-decoration: none;
    color: #aac;
}
a.facet-choice-link:hover {
    text-decoration: underline;
    color: #88a;
}

.facet-range-body {
    border: 1px solid #ccc;
    padding: 15px;
}
.facet-range-histogram {
    margin-bottom: 10px;
}
.facet-range-slider {
}
.facet-range-status {
    margin-top: 5px;
    text-align: center;
}

.facet-text-body {
    border: 1px solid #ccc;
    padding: 5px;
}

.facet-text-body input {
    width: 98%;
}

.recon-score {
    color: #aaa;
    margin-left: 0.5em;
}