.data-table-container {
    border: 1px solid #ccc;
    overflow-x: auto;
}

table.data-table {
}

table.data-table > tbody > tr > td {
    padding: 2px 5px;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

table.data-table > tbody > tr.odd > td {
    border-top: 1px solid #ddd;
}

table.data-table > tbody > tr.even > td {
    background: #ddd;
}

table.data-table > tbody > tr.contextual > td > div {
    opacity: 0.3;
}

table.data-table > tbody > tr.record.contextual > td {
}

table.data-table td.column-header {
    background: #ddd;
    cursor: pointer;
    padding: 5px 5px;
    border-bottom: 2px solid #aaa;
    white-space: pre;
    font-weight: bold;
}

table.column-header-layout td {
    padding: 0px;
    font-weight: bold;
}

img.column-header-menu {
}

.viewPanel-summary {
}
.viewPanel-pagingControls {
    text-align: center;
    margin: 1em 0;
}


div.data-table-recon-candidates {
    margin: 0.5em 0;
    min-width: 15em;
    color: #88a;
}
div.data-table-recon-candidate {
    padding-left: 35px;
    position: relative;
}

a.data-table-recon-topic {
    text-decoration: none;
    color: #88a;
}
a.data-table-recon-topic:hover {
    text-decoration: underline;
    color: #008;
}

.data-table-recon-score {
    color: #aaa;
    margin: 0 0.5em;
}

a.data-table-recon-action, a.data-table-recon-search {
    font-size: 80%;
    text-decoration: none;
    color: #aaf;
}
a.data-table-recon-action:hover, a.data-table-recon-search:hover {
    text-decoration: underline;
    color: #008;
}

a.data-table-recon-match {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../images/checks-map.png');
    background-repeat: no-repeat;
    background-position: -17px 0px;
    text-decoration: none;
    position: absolute;
    top: 0px;
    left: 0px;
}
a.data-table-recon-match:hover {
    background-position: 0px 0px;
}

a.data-table-recon-match-similar {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../images/checks-map.png');
    background-repeat: no-repeat;
    background-position: -17px -17px;
    text-decoration: none;
    position: absolute;
    top: 0px;
    left: 16px;
}
a.data-table-recon-match-similar:hover {
    background-position: 0px -17px;
}
