td.expression-preview-help-column {
    padding-left: 10px;
}
.expression-preview-help-outer {
    border: 1px solid #ccc;
    height: 300px;
    overflow: auto;
}
.expression-preview-help-inner {
    padding: 10px;
}

.expression-preview-container {
    border: 1px solid #ccc;
    height: 300px;
    overflow: auto;
}

.expression-preview-container td {
    padding: 2px 5px;
    border-top: 1px solid #ccc;
}

td.expression-preview-heading {
    border-top: none;
    background: #ddd;
    font-weight: bold;
}

.expression-preview-empty {
    color: #aaa;
}