#expression-preview-tabs-preview, #expression-preview-tabs-help {
    padding: 7px;
}

.expression-preview-container {
    height: 300px;
    padding: 5px;
    overflow: auto;
}

.expression-preview-container td {
    padding: 2px 5px;
    border-top: 1px solid #ccc;
}

td.expression-preview-heading {
    border-top: none;
    background: #ddd;
    font-weight: bold;
}

.expression-preview-special-value {
    color: #aaa;
}

.expression-preview-help-container {
    height: 300px;
    padding: 5px;
    overflow: auto;
}

.expression-preview-help-container h3 {
    background: white;
    padding: 3px 10px;
}

.expression-preview-doc-item-title {
    font-weight: bold;
    text-align: right;
}

.expression-preview-doc-item-params {
}

.expression-preview-doc-item-returns {
}

.expression-preview-doc-item-desc {
    color: #666;
}