.history-panel {
    position: absolute;
    top: -1px;
    right: 20px;
    width: 200px;
    background: #fffee0;
    border: 1px solid #ccc;
    z-index: 10;
}
.history-panel h3 {
    margin: 0;
    padding: 3px;
    background: #888;
    color: #eee;
    font-size: 100%;
}
.history-panel-body {
    padding: 2px;
    height: 50px;
    overflow: auto;
}
.history-panel-message {
    text-align: center;
    color: #aaa;
}

.history-past {
    padding-bottom: 3px;
    border-bottom: 2px solid #f88;
}
.history-future {
    padding-top: 3px;
}
a.history-entry {
    display: block;
    padding: 3px 5px;
    text-decoration: none;
    color: black;
    border-top: 1px solid #eee;
}
a.history-entry:first-child {
    border-top: none;
}
a.history-entry:hover {
    background: #eee;
    color: #a88;
}

.history-future a.history-entry {
    color: #888;
    font-style: italic;
}
