.history-panel {
    position: absolute;
    top: -1px;
    right: 20px;
    width: 200px;
    padding: 2px;
    background: #fffee0;
    border: 1px solid #ccc;
    height: 100px;
    overflow: auto;
}
.history-panel h3 {
    margin: 0;
    padding: 3px;
    background: #fee;
    font-size: 100%;
}
.history-past {
    padding-bottom: 3px;
    border-bottom: 2px solid #aaa;
}
.history-future {
    padding-top: 3px;
}
a.history-entry {
    display: block;
    padding: 3px 5px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: black;
}
a.history-entry:hover {
    background: #eee;
    color: #a88;
}
