#body {
    padding: 50px;
    background: url("/images/gridworks-watermark.png") no-repeat -70px -70px;
}
#body > div.grid-layout > table > tbody > tr > th, 
#body > div.grid-layout > table > tbody > tr > td {
    vertical-align: top;
}

#top-panel {
    margin-bottom: 15px;
}
#top-panel h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
#gridworks-info {
    color: #aaa;
}

#create-project-panel h1 {
    font-size: 120%;
    margin: 2em 0 1em 0;
}
#projects-panel {
    width: 400px;
}
#projects {
    background: #DBE8EB;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 15px;
}
#projects h1 {
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
    font-size: 120%;
}

#projects-container {
    border: 1px solid #C5D1D4;
    background: white;
    padding: 1px;
    height: 30em;
    overflow: auto;
}
#projects-container .message {
    padding: 15px;
    color: #aaa;
    font-size: 150%;
}
#projects-container table {
    border-collapse: collapse;
    width: 100%;
}
#projects-container td, #projects-container th {
    padding: 5px;
    border-right: 1px solid white;
    text-align: left;
}
#projects-container th {
    background: #C5D1D4;
}
#projects-container tr.project.even {
    background: #DBE8EB;
}
.project a {
    text-decoration: none;
    font-weight: bold;
    color: #004;
}
.project a:hover {
    text-decoration: underline;
    color: #008;
}

#version-message {
    padding: 20px;
    border: 1px solid #aaa;
    background: #ffddaa;
    position: absolute;
    top: -1px;
    left: 40%;
    width: 20%;
    z-index: 1000;
}