.process-panel {
    position: absolute;
    top: -1px;
    width: 100%;
    text-align: center;
}

.process-panel-inner {
    border: 1px solid #ccc;
    width: 500px;
    max-height: 70px;
    overflow: auto;
    padding: 10px;
    margin: 0 auto;
    text-align: left;
    background: #fffee0;
}

