body {
    background: white;
}

#body {
    padding: 0;
    margin: 0;
}

#loading-message {
    text-align: center;
    font-size: 300%;
    color: #aaa;
    padding: 1in;
    font-style: italic;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    padding: 0.5em 0;
    width: 100%;
    border-top: none;
    background: #ccc;
    color: #888;
}
#footer a {
    color: #66c;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}

.menu-bar-container {
    position: fixed;
    left: 0px;
    width: 100%;
}

.view-panel {
    position: fixed;
    background: white;
    overflow: hidden;
}
.left-panel {
    position: fixed;
    background: white;
    overflow: hidden;
    padding: 0px;
    font-size: 12px;
}
.left-panel .ui-tabs {
    padding: 0;
}
.left-panel .ui-corner-all {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;    
}
.left-panel .ui-widget-content {
    border: none;
    background: none;
    color: inherit;
}
.left-panel .ui-tabs .ui-tabs-nav {
    padding: 0;
}
.left-panel .ui-tabs .ui-widget-header {
    background: none;
    border: none;
}
.left-panel .ui-tabs .ui-tabs-nav li a {
    padding: 5px 10px;
}
.left-panel .ui-tabs .ui-tabs-nav li a span.count {
    color: #888;
    font-weight: normal;
    font-size: 80%;
}

.left-panel .ui-tabs .ui-tabs-nav .ui-state-default, 
.left-panel .ui-tabs .ui-tabs-nav .ui-widget-content .ui-state-default {
    background: #C5D1D4;
}

.left-panel .ui-tabs .ui-tabs-nav .ui-state-default a, 
.left-panel .ui-tabs .ui-tabs-nav .ui-state-default a:link, 
.left-panel .ui-tabs .ui-tabs-nav .ui-state-default a:visited {
    color: black;
}

.left-panel .ui-tabs .ui-tabs-nav .ui-state-active, 
.left-panel .ui-tabs .ui-tabs-nav .ui-widget-content .ui-state-active {
    background: #DBE8EB;
    border: none;
    color: black;
}

.left-panel .ui-tabs .ui-tabs-nav .ui-state-active a, 
.left-panel .ui-tabs .ui-tabs-nav .ui-state-active a:link, 
.left-panel .ui-tabs .ui-tabs-nav .ui-state-active a:visited {
    color: black;
}

.left-panel .ui-tabs .ui-tabs-panel {
    margin: 0px;
    padding: 7px;
    border: 1px solid #DBE8EB;
    background: #DBE8EB;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-left-radius: 7px;
    overflow: hidden;
}

.facet-panel {
    overflow: auto;
}
.history-panel {
    overflow: auto;
}
