body {
    background: white;
}

#body {
    padding: 0;
    margin: 0;
}

#loading-message {
    text-align: center;
    font-size: 300%;
    color: #aaa;
    padding: 1in;
    font-style: italic;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    padding: 0.5em 0;
    width: 100%;
    border-top: none;
    background: #ccc;
    color: #888;
}
#footer a {
    color: #66c;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}

.menu-bar-container {
    position: fixed;
    left: 0px;
    width: 100%;
}

.view-panel {
    position: fixed;
    background: white;
    overflow: hidden;
}
.left-panel {
    position: fixed;
    background: white;
    overflow: hidden;
    padding: 0px;
    font-size: 11px;
}
.left-panel .gridworks-tabs.ui-tabs .ui-tabs-panel {
    padding: 7px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    overflow: hidden;
}

.facet-panel {
    overflow: auto;
}
.history-panel {
    overflow: auto;
}
