.schema-alignment-dialog-canvas {
    height: 400px;
    overflow: auto;
    border: 1px solid #aaa;
    padding: 10px;
    background: white;
}

table.schema-alignment-table-layout {
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    margin-bottom: 1em;
}

table.schema-alignment-table-layout .padded {
    padding: 3px 6px;
}

div.schema-alignment-detail-container {
    border-left: 3px solid #eee;
}

td.schema-alignment-node-main, td.schema-alignment-link-main {
    white-space: pre;
    width: 300px;
}

td.schema-alignment-node-toggle, td.schema-alignment-link-toggle {
    white-space: pre;
    width: 1%;
}

td.schema-alignment-node-toggle img, td.schema-alignment-link-toggle img {
    cursor: pointer;
    vertical-align: middle;
    padding: 2px;
}

td.schema-alignment-node-details, td.schema-alignment-link-details {
    width: 90%;
}

a.schema-alignment-node-tag {
    padding: 3px 6px;
    background: #ddd;
    text-decoration: none;
    color: black;
    -moz-border-radius: 10px;
}
a.schema-alignment-node-tag:hover {
    background: #888;
    color: white;
}
.schema-alignment-node-column {
    font-weight: bold;
}

a.schema-alignment-link-tag {
    padding: 3px 6px;
    text-decoration: none;
    color: black;
}
a.schema-alignment-link-tag:hover {
    color: #88f;
}

div.schema-alignment-dialog-preview {
    height: 400px;
    overflow: auto;
    border: 1px solid #aaa;
    background: white;
    padding: 10px;
    white-space: pre;
    font-family: monospace;
    font-size: 9pt;
}

/*--------------------------------------------------
 *  Node dialog
 *--------------------------------------------------
 */

table.schema-align-node-dialog-layout {
    border-collapse: collapse;
}
table.schema-align-node-dialog-layout > tbody > tr > td {
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    vertical-align: baseline;
}
table.schema-align-node-dialog-layout > tbody > tr > td:last-child {
    padding-right: 0;
}
table.schema-align-node-dialog-layout > tbody > tr:last-child > td {
    padding-bottom: 0;
}

table.schema-align-node-dialog-layout2 {
    border-collapse: collapse;
}
table.schema-align-node-dialog-layout2 > tbody > tr > td {
    padding-right: 0.75em;
    padding-bottom: 0.75em;
    vertical-align: baseline;
}
table.schema-align-node-dialog-layout2 > tbody > tr > td:last-child {
    padding-right: 0;
}
table.schema-align-node-dialog-layout2 > tbody > tr:last-child > td {
    padding-bottom: 0;
}

.schema-align-node-dialog-node-type {
    padding: 0.25em;
    background: #ddf;
    -moz-border-radius: 0.5em;
}
.schema-align-node-dialog-node-type input {
    vertical-align: text-bottom;
}
.schema-alignment-node-dialog-column-list {
    height: 300px;
    width: 200px;
    overflow: auto;
    border: 1px solid #ddd;
}
