body {
	color:black;
	font-family:sans-serif;
	line-height:1.4em;
}

div#download h3{
	margin-bottom:4px;
}

h1 > a{
	color:inherit;
}

div.text{
  padding:0.5em 0;
}
div.note{
	margin-bottom:0.3em;
}
div.note > span{
	color:#009900;
	font-style:italic;
}
div.step{
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:solid 1px #eee;
}

h2{
	color:#009900;
}
div.logo{
	margin:20px;
}
div.main-header{
	border-bottom:solid 2px #ccc;
	padding-bottom:10px;
	color:#009900;
}

div.main-header a, div.main-header a:hover{
}

table.data-table{
	border-collapse:collapse;
	width:80%;
	margin:0.5em;
}

table.data-table td, table.data-table th{
	border:solid 1px #000;
}

pre {
	border:1px dotted #342934;
	font:12px/140% "Lucida Console",monospace;
	margin-left:-1em;
	margin-right:-1em;
	overflow:auto;
	padding:0.6em 1em;
}

div.image{
	margin:0.6em 0 1.2em;
}

a.top_link, a.top_link:visited, a.top_link:hover{
	font-size:0.6em;
	color:#bbbbbb;
	text-decoration:
}

#download {
	float:left;
	font-family:sans-serif;
	margin:1em 0 1.5em;
	text-align:center;
	width:100%;
}

#download small {
	color:#888888;
	font-size:80%;
}

div.names{
	clear:right;
	float:right;
	font-size:80%;
	text-align:right;
	margin-bottom:5px;
}

span.instruction{
  font-size:120%;
  font-family:monospace;
  font-weight:bold;
}