.sindice-suggest-container{
	overflow:auto;
	padding:10px;
	height:135px;
	border:1px solid #CCCCCC;
	margin:10px;
}
.sindice-dialog-body table{
	width:100%;
	border-spacing:10px;
}

div.rdf-extension-sindice-domain-container{
	height:300px;
	overflow:auto;
}