.dialog-overlay {
    position: fixed;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
}

.dialog-container {
    position: fixed;
    padding: 0px;
    margin: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
}

.dialog-frame {
    margin: 0 auto;
    text-align: left;
    background: white;
    border: 1px solid #aaa;
    padding: 2px;
}

.dialog-header {
    background: #404859;
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    cursor: move;
}

.dialog-body {
    padding: 10px;
}

.dialog-footer {
    background: #ddd;
    padding: 5px 10px;
    text-align: right;
}

.dialog-footer button {
    margin-left: 5px;
}

.dialog-busy-body {
    margin: 1em;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: #faa;
}

