<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
    <head>
        <!-- inject:css -->
        <!-- endinject -->
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container" ng-controller="NavbarCtrl">
                <div class="navbar-header">
                    <a class="navbar-brand" href>Editor</a>
                </div>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="url" class="form-control" ng-model="endpoint" placeholder="FDP endpoint"/>
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="go()">GO</button>
                </form>
                <ul class="nav navbar-nav">
                    <li ng-class="{active: path=='/repository'}"><a href="#/repository">Repository</a></li>
                    <li ng-class="{active: path=='/catalog'}"><a href="#/catalog">Catalog</a></li>
                    <li ng-class="{active: path=='/dataset'}"><a href="#/dataset">Dataset</a></li>
                    <li ng-class="{active: path=='/distribution'}"><a href="#/distribution">Distribution</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div ng-view></div>
        </div>
        <!-- inject:js -->
        <!-- endinject -->
    </body>
</html>