<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="OpenRefine : A free, open source, power tool for working with messy data" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>OpenRefine</title>
	<script>
  (function() {
    var cx = '015379524541736921826:xdityt6werw';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
         <a id="forkme_banner" href="https://github.com/OpenRefine">View on GitHub</a>
		 <h1 id="project_title">OpenRefine</h1>
          <h2 id="project_tagline">A free, open source, power tool for working with messy data</h2>
		  <font size="4" font color="#FFFFFF"><b> <a href="/OpenRefine/index">Home</a> - <a href="/OpenRefine/documentation">Documentation</a> - <a href="/OpenRefine/community">Events & Community</a> - <a href="https://github.com/OpenRefine/OpenRefine/issues?state=open">Issue Tracker</a> - <a href="https://groups.google.com/forum/?fromgroups#!forum/openrefine">Discussion List</a> - <a href="/OpenRefine/blog">Blog</a></b></font> 
<gcse:searchbox-only></gcse:searchbox-only>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
	<section id="main_content" class="inner">
		{{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p></br>
		<a class="twitter-timeline" href="https://twitter.com/search?q=%22Open+Refine%22OR+%22OpenRefine%22+OR+%22google+refine%22+OR+grefine+OR+%22googlerefine%22" data-widget-id="287629360243019777">Tweets about OpenRefine</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></br>

      </footer>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-35838111-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>


  </body>
</html>
