@import-less url("../theme.less");

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #666;
  opacity: 0.5;
  }

.dialog-container {
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
  }

.dialog-frame {
    margin: 0 auto;
    text-align: left;
    background: white;
    border: 1px solid @dialog_frame;
}

.dialog-border {
    border: 4px solid @dialog_border;
}

.dialog-header {
    background: @dialog_header;
    padding: @padding_loose;
    font-weight: bold;
    font-size: 1.6em;
    color: #000;
    cursor: move;
}

.dialog-body {
  font-size: 1.3em;
  padding: @padding_looser;
}

.dialog-footer {
  font-size: 1.3em;
  background: @dialog_footer;
  padding: @padding_loose;
}

.dialog-footer button {
    margin-left: 5px;
}

.dialog-busy-frame {
    width: 300px;
    border: none;
    -moz-border-radiust: 15px;
    -webkit-border-radius: 15px;
}
.dialog-busy-body {
    margin: 1em;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: #aaa;
}

