Name=Openrefine
Version=3.5.2
Comment=A free, open source, powerful tool for working with messy data
Exec=openrefine
Icon=${SNAP}/meta/gui/openrefine.png
Terminal=false
Type=Application
Categories=Utility;Application;