td.highlighted {
  background: #e8e8e8;
}

.emphasized{
  font-weight:bold;
  font-size: 11pt;
}

div.rdf-schema-alignment-dialog-preview {
    height: 375px;
}

div.rdf-schema-alignment-dialog-preview pre {
    overflow: auto;
    height: 100%;
}

div.rdf-schema-alignment-dialog-canvas {
	height: 350px;
}

div.note{
	font-size:1em;
	color: #333333;/*#FF6A00;*/
}

div.vocabulary-manager-list{
	height:64%;
	overflow:auto;
}

div.vocabulary-manager-footer{
	height:31%;
}

div.vocabulary-manager-footer h2{
	margin:0;
}

.fadedElement{
	background:none repeat scroll 0 0 #DDDDDD;
	}
.rdf-schema-alignment-node-dialog-column-list{
	height: 300px;
    width: 230px;
    overflow: auto;
	}

.rdf-schema-top-separated {
	border-top:2px solid #ECE9D8;
	}

.rdf-schema-bottom-separated {
	border-bottom:2px solid #ECE9D8;
	}
	
.rdf-value-expression{
	font-family: monospace;
    height: 5em;
    vertical-align: top;
}

.rdf-header-text{
	font-weight:bold;
}
    
span.rdf-schema-prefix-box{
	padding:0 4px;
	font-family: monospace;
	float:left;
}

a.add-prefix-box{
	background-image: url(../images/add.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left:14px;	
    margin-left:4px;
    color:#0000EE;
}

a.manage-vocabularies-box{
	background-image: url(../images/configure.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left:14px;	
    margin-left:4px;
    color:#0000EE;
}

div.rdf-schema-prefixes{
	width:100%;
}

.rdf-schema-alignment-node-dialog-step{
	margin:0 5px 5px 5px;	
	border:1px solid #DDDDDD;
}

.rdf-schema-alignment-node-dialog-step-header{
	margin:1px 5px 1px 0;
	padding: 0.25em;
    background: #ddf;
    -moz-border-radius: 0.5em;	
}

div.message{
	border:solid 1px #cccccc;
	margin:0.5em 0.5em 1em 0;
	padding:0.5em;	
	
}

img.vocab_action_icon{
	padding:0.1em;
}

div.vocabulary_container{
	height:300px;
	overflow:auto;
}

span.rdf-node-info{
	font-size:90%;
}

a#add_prefix_link, a#add_prefix_link:HOVER, a#add_prefix_link:VISITED {
	font-size:120%;
	color:#0000FF;
	
}
div.rdf-scheme-dialog-subheader{
	background: none repeat scroll 0 0 #E0EDFE;
	padding:0.1em;
	
}
p.base-uri-space{
	margin: 0.5em 0 4px 0;
}
table.rdf-schema-alignment-table-layout >tbody>tr> td.padded{
	padding:15px 6px;
}
table.rdfTypesTable {
	margin:0.2em 0 0.6em 0;
}
table.rdf_indented_table{
	margin:0 1.5em;
}

fieldset.rdf-reconcile-fieldset{
	border:solid 1px #BBCCFF;
	padding: 0.2em 0 0.5em 0.2em;
	margin-top:1.5em;
}
table.rdf-prefixes-table{
	width:100%;
	}
table.rdf-prefixes-table, table.rdf-prefixes-table td{
	border:1px dotted #DDDDDD;
	border-collapse:collapse;
	margin:.2em;
	}

tr.rdf-table-even{
	background-color:#F2F2F2;
	}